<body>
<header id="title-txt">
    <h1>GIT-FIT-BRUV</h1>
</header>

<form id="signup-form" action="/signup" method="POST">
<container class="signin login-form">
<input type="text" placeholder="USERNAME BRUV" id="username-login">
<input type="text" placeholder="PASSWORD BRUV" id="password-login">
<a href="/homepage" id="login">Login</a>
<a href="../html/signup.html" id="sign-up">Git Fit!</a>
</container>
</form>
<script src='/js/login.js'></script>
</body>
