<header id="title-txt">
    <h1>UR NOT A BRUV?!</h1>
</header>

<body>
<container class="signin">
<input type="text" placeholder="USERNAME BRUV">
<input type="text" placeholder="PASSWORD BRUV">
<a href="/signup" id="signup">SIGN UP NOW!</a>
</container>
</body>