body {
  background-color: #13a5d2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header styles */
#title-txt {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

#title-txt h1 {
  margin: 0;
  font-size: 28px;
}

/* Form styles */
.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 30%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#login,
#sign-up {
  width: 30%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

#login:hover,
#sign-up:hover {
  background-color: #555;
}

/* Footer styles */

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

button,
a {
  padding: 10px 20px;
  margin: 5px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

button:hover,
a:hover {
  background-color: #555;
}

button:focus,
a:focus {
  text-decoration: none;
}

/* Media queries */
@media screen and (max-width: 600px) {
  .container {
    padding: 0;
  }

  input[type="text"] {
    width: 70%;
  }

  #login,
  #sign-up {
    width: 70%;
  }
}

/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #13a5d2;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Welcome section styles */
.welcome-sect {
  background-color: #e6f7ff;
  padding: 30px;
}

.welcome-cont {
  text-align: center;
}

.button-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.button-cont button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-cont button:hover {
  background-color: #555;
}

a:focus {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Profile section styles */
.profile-sect {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.profile-icon {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
}

/* Goals section styles */
.goals-sect {
  padding: 40px;
}

.goals-cont h3 {
  text-align: center;
}

/* Progress section styles */
.progress-sect {
  padding: 40px;
}

/* Log section styles */
.log-sect {
  background-color: #f2f2f2;
  padding: 40px;
}

.log-cont {
  text-align: center;
}
